<%- include("../includes/header.ejs", {title:"Sale Items"}); %>
<h1>Sale Items</h1>
<ul>

    <li>Sale Items:
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].sale_id %></li>
            <% } %>
        </ul>
    </li>
</ul>

<a href="/sale_items/all"><< back</a>

<%- include("../includes/footer.ejs"); %>