<%- include("../includes/header.ejs", {title:"Sale Items - View All"}); %>

<h1>Sale Items</h1>
<a href="/sale_item/add">Add New Sale Item</a> <br />

<br />

<table border="1">
    <tr><th>Sale Item</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/sale_item/?sale_item_id=<%= result[i].sale_item_id %>"><%= result[i].sale_id %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/sale_item/edit/?sale_id=<%= result[i].sale_item_id %>'">Edit</button>
            <form action="/sale_item/delete/" style="display:inline;">
                <input type="hidden" name="sale_item_id" id="sale_item_id" value="<%= result[i].sale_item_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>