<%- include("../includes/header.ejs", {title:"Add New Sale Item"}); %>
<h1>Add New Sale Item</h1>
<form action="/sale_item/insert" method="get">
    Sale: <input id="street" name="street" type="text" />
    <br />
    <br />
    Sale
    <br />
    <select id="sale_item_id" name="sale_item_id" multiple="multiple">
        <% for(var i=0; sale_item_id.length > i; i++ ) { %>
        <option value="<%= sale_item[i].sale_item_id %>"><%= sale_item[i].sale_id %></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#sale_item_id').multiselect();
        });
    </script>


    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>