<%- include("../includes/header.ejs", {title:"Colors"}); %>
<h1>Colors</h1>
<ul>

    <li>Color:
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].color %></li>
            <% } %>
        </ul>
    </li>
</ul>

<a href="/color/all"><< back</a>

<%- include("../includes/footer.ejs"); %>