<%- include("../includes/header.ejs", {title:"Products"}); %>
<h1>Products</h1>
<ul>

    <li>Product:
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <%="Brand Name:"%> <%= result[i].brand_name %>
            </br>
            </br>
            <%="Product Type:"%> <%= result[i].type %>
            </br>
            </br>
            <%="Product Color:"%> <%= result[i].color %>
            </br>
            </br>
            <%="Name of Color:"%> <%= result[i].name_color %>
            </br>
            </br>
            <%="Product Price: $"%><%= result[i].price %>
            </br>
            </br>
            <%="Product Cost: $"%><%= result[i].cost %>
            </br>
            </br>
            <%="Quantity In Stock:"%> <%= result[i].quantity %>
            <% } %>
        </ul>
    </li>
</ul>

<a href="/product/all"><< back</a>

<%- include("../includes/footer.ejs"); %>