<%- include("../includes/header.ejs", {title:"Products - View All"}); %>

<h1>Products</h1>

<br />

<table border="1">
    <tr><th>Product Id</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/product/?product_id=<%= result[i].product_id %>"><%= result[i].product_id %></a></td>
        <td>
            <form action="/product/delete/" style="display:inline;">
                <input type="hidden" name="product_id" id="product_id" value="<%= result[i].product_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>