<%- include("../includes/header.ejs", {title:"Addresses - View All"}); %>

<h1>Addresses</h1>
<a href="/addresses/add">Add New Address</a> <br />

<br />

<table border="1">
    <tr><th>Address</th><th>Actions</th></tr>
    <% for(var i=0; result.length > i; i++ ) { %>
    <tr>
        <td><a href="/addresses/?address_id=<%= result[i].addresses_id %>"><%= result[i].street %></a></td>
        <td>
            <button onclick="event.preventDefault();window.location.href='/addresses/edit/?addresses_id=<%= result[i].addresses_id %>'">Edit</button>
            <form action="/addresses/delete/" style="display:inline;">
                <input type="hidden" name="addresses_id" id="addresses_id" value="<%= result[i].addresses_id %>" />
                <input type="submit" value="Delete"/>
            </form>

        </td>
    </tr>
    <% } %>
</table>
<%- include("../includes/footer.ejs"); %>