<%- include("../includes/header.ejs", {title: "Update " + addresses.street}); %>

<h1>Update <%= addresses.street%></h1>
<form action="/addresses/update" method="get">
    <input type="hidden" id="addresses_id" name="addresses_id" value="<%= addresses.address_id %>">
    Address: <input id="street" name="street" type="text" value="<%= addresses.street%>"/>
    <br />
    <br />

    Updated Address: <input id="street" name="street" type="text" value="<%= addresses.street%>"/>
    <br />
    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>