<%- include("../includes/header.ejs", {title:"Add New Type"}); %>
<h1>Add New Type</h1>
<form action="/type/insert" method="get">

    Type: <input id="street" name="street" type="text" />
    <br />
    <br />

    Type
    <br />
    <select id="type_id" name="type_id" multiple="multiple">
        <% for(var i=0; type.length > i; i++ ) { %>
        <option value="<%= type[i].type_id %>"><%= type[i].type%></option>
        <% } %>
    </select>

    <!-- Initialize the multiselect plugin: -->
    <script type="text/javascript">
        $(document).ready(function() {
            $('#type_id').multiselect();
        });
    </script>

    <br />
    <br />
    <input type="submit" />

</form>
<%- include("../includes/footer.ejs"); %>