<%- include("../includes/header.ejs", {title: "Update " + sales.sales_date}); %>

<h1>Update <%= sales.sales_date%></h1>
<form action="/sales/update" method="get">
    <input type="hidden" id="sale_id" name="sale_id" value="<%= sales.sale_id %>">
    Sale: <input id="sales" name="sales" type="text" value="<%= sales.sales_date%>"/>
    <br />
    <br />

    Updated Description: <input id="sales" name="sales" type="text" value="<%= sales.sale_date%>"/>
    <br />
    <br />

    <input type="submit" />

</form>

<%- include("../includes/footer.ejs"); %>

</html>