<%- include("../includes/header.ejs", {title:"Brands"}); %>
<h1>Brands</h1>
<ul>
    <li>Brand Name: <%= result[0].brand_name %></li>
    <li>Address(es):
        <ul>
            <% for(var i=0; result.length > i; i++ ) { %>
            <li><%= result[i].street + ', ' + result[i].zip_code %></li>
            <% } %>
        </ul>
    </li>
</ul>

<a href="/brand/all"><< back</a>

<%- include("../includes/footer.ejs"); %>